
div.a{
	background-color: darkblue;
	color: white;
	font-family: Arial;
	height:100px;
	margin:0px;
	padding: 0px; 
}

h1.m1{
	position: absolute;
	left: 40px;
	font-size: 50px;
}

#em{
	position: absolute;
	right: 280px;
	top: 50px;
}

#em1{
	position: absolute;
	right: 345px;
	top: 10px;
}

#ps{
	position: absolute;
	right: 80px;
	top: 50px;
}

#ps1{
	position: absolute;
	right: 183px;
	top: 10px;
}

#ps2{
	position: absolute;
	right: 165px;
	top: 63px;
	font-size: 11px;
}

#btn{
	position: absolute;
	right: 20px;
	top: 50px;
	color: white;
	background-color: darkblue;
	border: 1px solid black;
}

div.b{
	float: right;
	width: 45%;
}

p.m2{
	font-size: 40px;
	font-family: Arial;
	color: black;
	font-style: bold;
}

.aa{
	margin: 20px;
	margin-left: 0px;
	margin-bottom: 0px;
	width: 300px;
	height: 30px;
}

.aa2{
	margin-left: 10px;
	height: 20px;
}

.aa1{
	height: 20px;
}

#h{
	margin: 20px;
	margin-left: 0px;

}

#btn1{
	color: white;
	background-color: green;
	height: 40px;
	width: 100px;
	border-radius: 10px;
}

div.c{
	float: left;
	width: 50%;
}